[submodule "External/EventHook"]
	path = External/EventHook
	url = https://github.com/losttech/Windows-User-Action-Hook.git
[submodule "External/ObservableFileSystem"]
	path = External/ObservableFileSystem
	url = https://github.com/losttech/ObservableFileSystem.git
[submodule "External/KeySettings"]
	path = External/KeySettings
	url = https://github.com/losttech/KeySettings.git
[submodule "External/MouseKeyHook"]
	path = External/MouseKeyHook
	url = https://github.com/losttech/globalmousekeyhook.git
[submodule "External/Widgets"]
	path = External/Widgets
	url = https://github.com/losttech/Stack.Widgets.git
[submodule "src/WindowManagement.WPF"]
	path = src/WindowManagement.WPF
	url = https://github.com/StackWM/WindowManagement.WPF.git
[submodule "src/Screen.WPF"]
	path = src/Screen.WPF
	url = https://github.com/StackWM/Screen.WPF.git
[submodule "src/ScreenTracking"]
	path = src/ScreenTracking
	url = https://github.com/StackWM/ScreenTracking.git
[submodule "src/WindowManagement.Win32"]
	path = src/WindowManagement.Win32
	url = https://github.com/StackWM/WindowManagement.Win32.git
