<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"><?define App_TargetDir=$(var.App.TargetDir)?>
  <Product Id="*" Name="Stack" Language="1033" Version="!(bind.fileVersion.Stack.exe)" Manufacturer="Lost Tech LLC" UpgradeCode="1f393bc6-bab6-4913-a334-579254ff109a">
    <Package InstallerVersion="400" Compressed="yes" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="ALLUSERS" Value="2" />
    <Property Id="MSIINSTALLPERUSER" Value="1" />
    <Property Id="STACK_AUTO_START">1</Property>

    <Feature Id="ProductFeature" Title="App.Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="Shortcuts" />
    </Feature>

    <InstallExecuteSequence>
      <Custom Action="LaunchApp" After="InstallFinalize" />
    </InstallExecuteSequence>

    <CustomAction Id="LaunchApp" FileKey="Stack.exe" ExeCommand="" Execute="immediate" Impersonate="yes" Return="asyncNoWait" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYINSTALLFOLDER" Name="Lost Tech">
          <Directory Id="INSTALLFOLDER" Name="Stack" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Stack" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Stack.exe" Guid="8721f00c-3a94-49cc-a4d2-6a434fef535e">
        <File Id="Stack.exe" Name="Stack.exe" Source="$(var.App.TargetDir)Stack.exe" />
      </Component>
      <Component Id="StackAutostart" Guid="a6cecb09-7db8-4d0a-8d18-6542830f3a2e">
        <RegistryValue Id="Stack.Start" Root="HKCU" Action="write" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="Stack" Value="&quot;[INSTALLFOLDER]Stack.exe&quot;" Type="string" />
      </Component>
      <Component Id="CalcBinding.dll" Guid="87989C7F-1383-49B1-8A75-B131531EEBF8">
        <File Id="CalcBinding.dll" Name="CalcBinding.dll" Source="$(var.App_TargetDir)CalcBinding.dll" />
      </Component>
      <Component Id="DynamicExpresso.Core.dll" Guid="0A033237-10F6-4CD0-AD36-AB73F6893FC0">
        <File Id="DynamicExpresso.Core.dll" Name="DynamicExpresso.Core.dll" Source="$(var.App_TargetDir)DynamicExpresso.Core.dll" />
      </Component>
      <Component Id="System.Data.Common.dll" Guid="56F72C30-EEE6-4EAF-8E3C-4E3890A8CCE8">
        <File Id="System.Data.Common.dll" Name="System.Data.Common.dll" Source="$(var.App_TargetDir)System.Data.Common.dll" />
      </Component>
      <Component Id="System.Diagnostics.DiagnosticSource.dll" Guid="e20f2352-fc9e-4310-8f61-e7dbf4c76cb4">
        <File Id="System.Diagnostics.DiagnosticSource.dll" Name="System.Diagnostics.DiagnosticSource.dll" Source="$(var.App_TargetDir)System.Diagnostics.DiagnosticSource.dll" />
      </Component>
      <Component Id="System.Diagnostics.StackTrace.dll" Guid="31254F4D-1AB1-4154-82DE-20632DE5E49C">
        <File Id="System.Diagnostics.StackTrace.dll" Name="System.Diagnostics.StackTrace.dll" Source="$(var.App_TargetDir)System.Diagnostics.StackTrace.dll" />
      </Component>
      <Component Id="System.Globalization.Extensions.dll" Guid="7E3C9D3A-AC8E-4970-A674-7850FFC33923">
        <File Id="System.Globalization.Extensions.dll" Name="System.Globalization.Extensions.dll" Source="$(var.App_TargetDir)System.Globalization.Extensions.dll" />
      </Component>
      <Component Id="System.IO.Compression.dll" Guid="5551f4fd-881f-44a0-be9a-3d0ee7bc2f6e">
        <File Id="System.IO.Compression.dll" Name="System.IO.Compression.dll" Source="$(var.App_TargetDir)System.IO.Compression.dll" />
      </Component>
      <Component Id="System.Net.Http.dll" Guid="431827a8-5c95-4103-81b9-565c62d1bbb7">
        <File Id="System.Net.Http.dll" Name="System.Net.Http.dll" Source="$(var.App_TargetDir)System.Net.Http.dll" />
      </Component>
      <Component Id="System.Net.Sockets.dll" Guid="94970e55-3f3a-4eb2-b04c-a1d6846525fe">
        <File Id="System.Net.Sockets.dll" Name="System.Net.Sockets.dll" Source="$(var.App_TargetDir)System.Net.Sockets.dll" />
      </Component>
      <Component Id="System.Security.Cryptography.Algorithms.dll" Guid="d66b2a38-ec26-4a61-a8a4-08a4c468717b">
        <File Id="System.Security.Cryptography.Algorithms.dll" Name="System.Security.Cryptography.Algorithms.dll" Source="$(var.App_TargetDir)System.Security.Cryptography.Algorithms.dll" />
      </Component>
      <Component Id="System.Security.SecureString.dll" Guid="57C0A202-34A9-452E-A346-B4A374488380">
        <File Id="System.Security.SecureString.dll" Name="System.Security.SecureString.dll" Source="$(var.App_TargetDir)System.Security.SecureString.dll" />
      </Component>
      <Component Id="System.Threading.Overlapped.dll" Guid="B5038CA2-2ED9-492E-8661-BA59E61ED74F">
        <File Id="System.Threading.Overlapped.dll" Name="System.Threading.Overlapped.dll" Source="$(var.App_TargetDir)System.Threading.Overlapped.dll" />
      </Component>
      <Component Id="System.Diagnostics.Tracing.dll" Guid="36c42dae-e72f-4233-80f4-0417bcaf0fa0">
        <File Id="System.Diagnostics.Tracing.dll" Name="System.Diagnostics.Tracing.dll" Source="$(var.App_TargetDir)System.Diagnostics.Tracing.dll" />
      </Component>
      <Component Id="System.Xml.XPath.XDocument.dll" Guid="D946E70E-78D7-4AB3-8C4E-BAD42F2A9835">
        <File Id="System.Xml.XPath.XDocument.dll" Name="System.Xml.XPath.XDocument.dll" Source="$(var.App_TargetDir)System.Xml.XPath.XDocument.dll" />
      </Component>
      <Component Id="Validation.dll" Guid="c1586e58-ae0e-43fa-b8eb-77c27dc408ac">
        <File Id="Validation.dll" Name="Validation.dll" Source="$(var.App_TargetDir)Validation.dll" />
      </Component>
      <Component Id="Stack.exe.config" Guid="f2008f69-a17c-4cd4-9c5d-510fadee504a">
        <File Id="Stack.exe.config" Name="Stack.exe.config" Source="$(var.App_TargetDir)Stack.exe.config" />
      </Component>
      <Component Id="Gma.System.MouseKeyHook.dll" Guid="8aa57fc0-bb59-4117-98cf-dea2561ccd81">
        <File Id="Gma.System.MouseKeyHook.dll" Name="Gma.System.MouseKeyHook.dll" Source="$(var.App_TargetDir)Gma.System.MouseKeyHook.dll" />
      </Component>
      <Component Id="LostTech.Windows.Screens.dll" Guid="0707ab51-6a95-497d-a8a0-0379920ce0f1">
        <File Id="LostTech.Windows.Screens.dll" Name="LostTech.Windows.Screens.dll" Source="$(var.App_TargetDir)LostTech.Windows.Screens.dll" />
      </Component>
      <Component Id="JetBrains.Annotations.dll" Guid="8e99159d-5cee-4032-8929-f7076219681c">
        <File Id="JetBrains.Annotations.dll" Name="JetBrains.Annotations.dll" Source="$(var.App_TargetDir)JetBrains.Annotations.dll" />
      </Component>
      <Component Id="LostTech.App.Settings.dll" Guid="34617251-7150-4bef-b979-19bac6ec64b5">
        <File Id="LostTech.App.Settings.dll" Name="LostTech.App.Settings.dll" Source="$(var.App_TargetDir)LostTech.App.Settings.dll" />
      </Component>
      <Component Id="LostTech.App.XmlSettings.dll" Guid="7ff73c29-f206-4216-aa07-2c68770635c6">
        <File Id="LostTech.App.XmlSettings.dll" Name="LostTech.App.XmlSettings.dll" Source="$(var.App_TargetDir)LostTech.App.XmlSettings.dll" />
      </Component>
      <Component Id="LostTech.Checkpoint.dll" Guid="1e2b4c4c-c094-4d2b-99a7-cacb86983ee6">
        <File Id="LostTech.Checkpoint.dll" Name="LostTech.Checkpoint.dll" Source="$(var.App_TargetDir)LostTech.Checkpoint.dll" />
      </Component>
      <Component Id="LostTech.Stack.ScreenTracking.dll" Guid="B41E7C4B-A65A-42BD-AFA8-98CFBCA9E7CB">
        <File Id="LostTech.Stack.ScreenTracking.dll" Name="LostTech.Stack.ScreenTracking.dll" Source="$(var.App_TargetDir)LostTech.Stack.ScreenTracking.dll" />
      </Component>
      <Component Id="LostTech.Stack.WindowManagement.dll" Guid="7B2D4EF8-0F8A-4045-9D88-54034F81A41A">
        <File Id="LostTech.Stack.WindowManagement.dll" Name="LostTech.Stack.WindowManagement.dll" Source="$(var.App_TargetDir)LostTech.Stack.WindowManagement.dll" />
      </Component>
      <Component Id="LostTech.Stack.WindowManagement.WPF.dll" Guid="A7399033-7A40-478B-A3D6-72A35EECC357">
        <File Id="LostTech.Stack.WindowManagement.WPF.dll" Name="LostTech.Stack.WindowManagement.WPF.dll" Source="$(var.App_TargetDir)LostTech.Stack.WindowManagement.WPF.dll" />
      </Component>
      <Component Id="Microsoft.HockeyApp.Core45.dll" Guid="75d37abf-f1f8-474b-9982-a9ab612ae3fe">
        <File Id="Microsoft.HockeyApp.Core45.dll" Name="Microsoft.HockeyApp.Core45.dll" Source="$(var.App_TargetDir)Microsoft.HockeyApp.Core45.dll" />
      </Component>
      <Component Id="Microsoft.HockeyApp.Kit.dll" Guid="a252fba1-1322-4f32-91b1-1db31f61a5b1">
        <File Id="Microsoft.HockeyApp.Kit.dll" Name="Microsoft.HockeyApp.Kit.dll" Source="$(var.App_TargetDir)Microsoft.HockeyApp.Kit.dll" />
      </Component>
      <Component Id="Microsoft.Toolkit.Uwp.Notifications.dll" Guid="327D1841-1354-4FF2-ACEA-B86096B774F4">
        <File Id="Microsoft.Toolkit.Uwp.Notifications.dll" Name="Microsoft.Toolkit.Uwp.Notifications.dll" Source="$(var.App_TargetDir)Microsoft.Toolkit.Uwp.Notifications.dll" />
      </Component>
      <Component Id="PCLStorage.Abstractions.dll" Guid="8c43b2a9-ac19-41b4-a371-0a4c57d8bea1">
        <File Id="PCLStorage.Abstractions.dll" Name="PCLStorage.Abstractions.dll" Source="$(var.App_TargetDir)PCLStorage.Abstractions.dll" />
      </Component>
      <Component Id="PCLStorage.Desktop.dll" Guid="a0a374bd-a416-4a2b-b5a9-5165b309d244">
        <File Id="PCLStorage.Desktop.dll" Name="PCLStorage.Desktop.dll" Source="$(var.App_TargetDir)PCLStorage.Desktop.dll" />
      </Component>
      <Component Id="PInvoke.DwmApi.dll" Guid="110B40D8-FEBA-4D41-8436-E80DF49E9BA4">
        <File Id="PInvoke.DwmApi.dll" Name="PInvoke.DwmApi.dll" Source="$(var.App_TargetDir)PInvoke.DwmApi.dll" />
      </Component>
      <Component Id="PInvoke.Kernel32.dll" Guid="782518ad-bc40-4dcf-9ec2-38fa5505d6ef">
        <File Id="PInvoke.Kernel32.dll" Name="PInvoke.Kernel32.dll" Source="$(var.App_TargetDir)PInvoke.Kernel32.dll" />
      </Component>
      <Component Id="PInvoke.User32.dll" Guid="4ace578b-f79b-498b-8db6-6d834cb4cad8">
        <File Id="PInvoke.User32.dll" Name="PInvoke.User32.dll" Source="$(var.App_TargetDir)PInvoke.User32.dll" />
      </Component>
      <Component Id="PInvoke.UxTheme.dll" Guid="7277F7BF-53A2-4E6F-871D-F2BFF6D35B1D">
        <File Id="PInvoke.UxTheme.dll" Name="PInvoke.UxTheme.dll" Source="$(var.App_TargetDir)PInvoke.UxTheme.dll" />
      </Component>
      <Component Id="PInvoke.Windows.Core.dll" Guid="a4a3436e-f698-432d-841f-193de2a55e55">
        <File Id="PInvoke.Windows.Core.dll" Name="PInvoke.Windows.Core.dll" Source="$(var.App_TargetDir)PInvoke.Windows.Core.dll" />
      </Component>
      <Component Id="PInvoke.Windows.ShellScalingApi.dll" Guid="61bdd7f2-0df4-408d-9857-b0af1f9cdb67">
        <File Id="PInvoke.Windows.ShellScalingApi.dll" Name="PInvoke.Windows.ShellScalingApi.dll" Source="$(var.App_TargetDir)PInvoke.Windows.ShellScalingApi.dll" />
      </Component>
      <Component Id="RecursiveChangeNotifier.dll" Guid="3259ad82-6675-4fff-b8c2-808948eeed81">
        <File Id="RecursiveChangeNotifier.dll" Name="RecursiveChangeNotifier.dll" Source="$(var.App_TargetDir)RecursiveChangeNotifier.dll" />
      </Component>
      <Component Id="LostTech.App.ObservableFileSystem.dll" Guid="0eb027b6-3b45-4a87-9fa9-40578aed2307">
        <File Id="LostTech.App.ObservableFileSystem.dll" Name="LostTech.App.ObservableFileSystem.dll" Source="$(var.App_TargetDir)LostTech.App.ObservableFileSystem.dll" />
      </Component>
      <Component Id="System.Windows.Interactivity.dll" Guid="da6d8e70-0b59-4ca1-b0d1-6879f640724b">
        <File Id="System.Windows.Interactivity.dll" Name="System.Windows.Interactivity.dll" Source="$(var.App_TargetDir)System.Windows.Interactivity.dll" />
      </Component>
      <Component Id="LostTech.App.KeySettings.WPF.dll" Guid="ad132cfc-1479-489c-b6f2-097729d08860">
        <File Id="LostTech.App.KeySettings.WPF.dll" Name="LostTech.App.KeySettings.WPF.dll" Source="$(var.App_TargetDir)LostTech.App.KeySettings.WPF.dll" />
      </Component>
      <Component Id="MahApps.Metro.dll" Guid="1f132ff1-c2c9-4d72-b9e0-b3f733eba71e">
        <File Id="MahApps.Metro.dll" Name="MahApps.Metro.dll" Source="$(var.App_TargetDir)MahApps.Metro.dll" />
      </Component>
      <Component Id="ValueConverters.dll" Guid="1c1b3803-cfbb-433f-a9cb-eab752560661">
        <File Id="ValueConverters.dll" Name="ValueConverters.dll" Source="$(var.App_TargetDir)ValueConverters.dll" />
      </Component>
      <Component Id="Prism.dll" Guid="bf1e8f78-f667-49f6-bfd6-98e3bb289b81">
        <File Id="Prism.dll" Name="Prism.dll" Source="$(var.App_TargetDir)Prism.dll" />
      </Component>
      <Component Id="LostTech.Stack.Extensibility.dll" Guid="d2550fa6-9676-46f7-9e8a-f1fe8c907b45">
        <File Id="LostTech.Stack.Extensibility.dll" Name="LostTech.Stack.Extensibility.dll" Source="$(var.App_TargetDir)LostTech.Stack.Extensibility.dll" />
      </Component>
      <Component Id="LostTech.App.DataBinding.dll" Guid="7d36992c-41a0-43c2-9929-4998fbaf6d7d">
        <File Id="LostTech.App.DataBinding.dll" Name="LostTech.App.DataBinding.dll" Source="$(var.App_TargetDir)LostTech.App.DataBinding.dll" />
      </Component>
      <Component Id="System.Runtime.Serialization.Primitives.dll" Guid="02233042-0605-4347-8788-35eb47b53445">
        <File Id="System.Runtime.Serialization.Primitives.dll" Name="System.Runtime.Serialization.Primitives.dll" Source="$(var.App_TargetDir)System.Runtime.Serialization.Primitives.dll" />
      </Component>
      <Component Id="EventHook.dll" Guid="674a75a5-c1d2-4038-81e3-c1aa3945d06f">
        <File Id="EventHook.dll" Name="EventHook.dll" Source="$(var.App_TargetDir)EventHook.dll" />
      </Component>
      <Component Id="Nito.AsyncEx.Enlightenment.dll" Guid="40a9552a-c2f1-4dc9-a049-59177dce83ba">
        <File Id="Nito.AsyncEx.Enlightenment.dll" Name="Nito.AsyncEx.Enlightenment.dll" Source="$(var.App_TargetDir)Nito.AsyncEx.Enlightenment.dll" />
      </Component>
      <Component Id="Nito.AsyncEx.Concurrent.dll" Guid="0324952c-538e-4e89-8416-20f8dde43745">
        <File Id="Nito.AsyncEx.Concurrent.dll" Name="Nito.AsyncEx.Concurrent.dll" Source="$(var.App_TargetDir)Nito.AsyncEx.Concurrent.dll" />
      </Component>
      <Component Id="Nito.AsyncEx.dll" Guid="fba74a2e-fc71-4332-a5a0-7a1b795b2da5">
        <File Id="Nito.AsyncEx.dll" Name="Nito.AsyncEx.dll" Source="$(var.App_TargetDir)Nito.AsyncEx.dll" />
      </Component>
      <Component Id="System.Runtime.WindowsRuntime.dll" Guid="d8b1e70d-5dc6-4530-9ea5-d44f1f75b18f">
        <File Id="System.Runtime.WindowsRuntime.dll" Name="System.Runtime.WindowsRuntime.dll" Source="$(var.App_TargetDir)System.Runtime.WindowsRuntime.dll" />
      </Component>
      <Component Id="DesktopBridge.Helpers.dll" Guid="6b146cff-e2d6-4a6e-8552-1c085126bda2">
        <File Id="DesktopBridge.Helpers.dll" Name="DesktopBridge.Helpers.dll" Source="$(var.App_TargetDir)DesktopBridge.Helpers.dll" />
      </Component>
      <Component Id="ControlzEx.dll" Guid="20ca21c6-3841-42fb-85b0-29d6397c2fb2">
        <File Id="ControlzEx.dll" Name="ControlzEx.dll" Source="$(var.App_TargetDir)ControlzEx.dll" />
      </Component>
    </ComponentGroup>
    <ComponentGroup Id="Shortcuts" Directory="ApplicationProgramsFolder">
      <Component Id="Stack.exe.lnk.Component" Guid="c218d8d9-3dcf-4c6a-a6b1-6ea368f61bf6">
        <Shortcut Id="Stack.exe.lnk" Name="Stack" Description="Open browser based on web site" Target="[#Stack.exe]" WorkingDirectory="APPLICATIONROOTDIRECTORY">
          <ShortcutProperty Key="System.AppUserModel.ID" Value="LostTech.Stack" />
        </Shortcut>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Lost Tech\Stack" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
